@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(pic/bg.png);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AE78E3;
    &_logo {
      flex: 1;
      padding-left: 50px;
    }
    &_nav {
      flex: 2;
      display: flex;
      justify-content: center;
      &_a {
        margin: 0 10px;
        color: #ffffff;
        font-family: Jura;
        font-size: 32px;
        padding: 20px;
      }
    }
    &_right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
    }
    &_icon {
      padding-right: 50px;
    }
  }

  .album {
    padding-top: 20px; 
    &_title {
      text-align: center;
      font-size: 2em;
      margin-top: 30px;
       margin-bottom: 20px;
       font-family: Oswald;
       font-size: 55px;
       color: #fff;
       font-weight: bold;
    }
    &_cover {
      display: block;
      margin: 0 auto;
      width: 300px; 
      height: 300px;
      background-image: url('pic/albom.png');
      background-size: cover;
      background-position: center;
      margin-bottom: 60px;
      margin-top: 10px;
    }
  }

  .track {
    position: relative;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    margin: 25px;
    cursor: pointer;
    transition: 0.15s;
    font-family: Jura;
       font-size: 14px;
    &_list {
      margin: 20px auto;
      width: 80%;
      max-width: 600px;;
    }
    &_img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 5px;
    }
    &_img:hover {
      filter: grayscale(100%);
    }
    &_info {
      flex-grow: 1;
      &_p {
        margin-top: 7px;
        color: #575757;
      }
    }
    &_time {
      min-width: 50px;
      text-align: right;
    }
  }

  .track:hover {
    border: 4px solid #6C27B3;
    background-color: #d9d9d9; 
    margin: 10px;
  }

  .heart {
    cursor: pointer;
    color: black;
    font-size: 30px; 
  }
  .heart.red {
    color: red;
  }

  .play-icon {
    position: absolute;
    margin-left: 3.4%;
    color: #6C27B3;
  }
  .stop-icon {
    display: none;
    position: absolute;
    margin-left: 3.4%;
    color: #6C27B3;
  }

  .track:hover .play-icon {
    display: block;

  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    font-family: Jura;
    font-size: 22px;
    padding: 20px;
    background-color: #AE78E3;
    &_logo {
      width: 100px;
      padding-left: 30px;
    }
    &_links {
    list-style: none;
    display: flex;
    &_li {
      margin-left: 20px;
    }
    &_a {
      color: white;
      text-decoration: none;
      padding: 30px;
    }
    }
  }
  

  @media (min-width: 768px) {
    .mobile-nav__link {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .header_nav {
      display: none;
    }
  
    .burger-menu {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 10;
      margin-right: 20px;
    }
  
    .burger-menu__line {
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
      margin: 5px 0;
      transition: all 0.4s ease;
    }
  
    .burger-menu.active .burger-menu__line:first-child {
      transform: rotate(45deg) translate(7px, 7px);
    }
  
    .burger-menu.active .burger-menu__line:nth-child(2) {
      opacity: 0;
    }
  
    .burger-menu.active .burger-menu__line:last-child {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  
    .mobile-nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #7e53a9;
      padding: 20px;
      flex-direction: column;
    }
  
    .mobile-nav__link {
      color: white;
      font-family: Jura;
      font-size: 18px;
      padding: 15px 0;
    }
    .mobile-nav__link:hover {
      color: rgb(170, 107, 186);
      font-family: Jura;
      font-size: 18px;
      background-color: #2C2C54;
      max-width: 900px;
    }
  
    .mobile-nav.active {
      display: flex;
    }
  }