@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(pic/bg.png);
  overflow-x: hidden;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #AE78E3;
    &_logo {
      flex: 1;
      padding-left: 50px;
    }
    &_nav {
      flex: 2;
      display: flex;
      justify-content: center;
      &_a {
        margin: 0 10px;
        color: #ffffff;
        font-family: Jura;
        font-size: 32px;
        padding: 20px;
        padding-right: 20px
      }
    }
    &_right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px
    }
    &_icon {
      padding-right: 50px;
    }
  }


.likes {
    padding: 20px;
    &_title {
        font-weight: bold;
        margin-bottom: 40px;
        font-family: Oswald;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }
      &_subtitle {
        margin-bottom: 10px;
         color: #ffffff;
        font-family: Jura;
        font-size:30px;
        text-align: left;
        margin-left: 20px;
      }
      &_tracks {
        display: flex;
        justify-content: space-between;
      }
      &_track-column {
    flex-basis: 48%; 
    display: flex;
    flex-direction: column;
    gap: 0px;
    }
}




.album {
width: 100%;
  max-width: 1420px;
  padding: 20px;
  &_header {
    margin-bottom: 20px;
    color: #ffffff;
   font-family: Jura;
   font-size:30px;
   text-align: left;
   margin-left: 20px;
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    &_img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    &_p {
        font-weight: bold;
        margin-bottom: 20px;
        font-family: Jura;
         font-size:13px;
         color: #fff;
    }
  }
  
}



.track {
    position: relative;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.15s;
    font-family: Jura;
       font-size: 14px;
    &_list {
      margin: 20px auto;
      width: 80%;
      max-width: 600px;;
    }
    &_img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 5px;
    }
    &_img:hover {
      filter: grayscale(100%);
    }
    &_info {
      flex-grow: 1;
      &_p {
        margin-top: 7px;
        color: #575757;
      }
    }
    &_time {
      min-width: 50px;
      text-align: right;
    }
  }

  .track:hover {
    border: 4px solid #6C27B3;
    background-color: #d9d9d9; 
    margin: 10px;
  }

  .heart {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 30px; 
  }
  .heart.red {
    color: red;
  }

  .play-icon {
    position: absolute;
    margin-left: 3%;
    color: #6C27B3;
  }
  .stop-icon {
    display: none;
    position: absolute;
    margin-left: 3%;
    color: #6C27B3;
  }

  .track:hover .play-icon {
    display: block;

  }


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    font-family: Jura;
    font-size: 22px;
    padding: 20px;
    background-color: #AE78E3;
    &_logo {
      width: 100px;
      padding-left: 30px;
    }
    &_links {
    list-style: none;
    display: flex;
    &_li {
      margin-left: 20px;
    }
    &_a {
      color: white;
      text-decoration: none;
      padding: 30px;
    }
    }
  }

  
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2C2C54;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 30%;
  color: #fff;
}

.popup h2 {
  margin-left:34%;
  font-family: Oswald;
  font-size: 30px;
}

.form-group {
  margin: 15px;
  font-family: Jura;
  font-size: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: #ccc;
}

.form-group input[type="password"] {
  position: relative;
}

.form-group .show-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.button {
  background-color: #686DE0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  margin-left:32%;
  margin-bottom: 15px;
  font-family:Oswald;
  font-size: 20px;
}
.down {
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left:39%;
  font-family:Jura;
  font-size: 15px;
  color: #fff;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.button1 {
  background-color: #686DE0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  margin-left:40%;
  margin-bottom: 15px;
  font-family:Oswald;
  font-size: 20px;
}
.down1 {
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left:33%;
  font-family:Jura;
  font-size: 15px;
  color: #fff;
}

  @media (min-width: 768px) {
    .mobile-nav__link {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .header_nav {
      display: none;
    }
  
    .burger-menu {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 10;
      margin-right: 20px;
    }
  
    .burger-menu__line {
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
      margin: 5px 0;
      transition: all 0.4s ease;
    }
  
    .burger-menu.active .burger-menu__line:first-child {
      transform: rotate(45deg) translate(7px, 7px);
    }
  
    .burger-menu.active .burger-menu__line:nth-child(2) {
      opacity: 0;
    }
  
    .burger-menu.active .burger-menu__line:last-child {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  
    .mobile-nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #7e53a9;
      padding: 20px;
      flex-direction: column;
    }
  
    .mobile-nav__link {
      color: white;
      font-family: Jura;
      font-size: 18px;
      padding: 15px 0;
    }
    .mobile-nav__link:hover {
      color: rgb(170, 107, 186);
      font-family: Jura;
      font-size: 18px;
      background-color: #2C2C54;
      max-width: 900px;
    }
  
    .mobile-nav.active {
      display: flex;
    }
  
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #2C2C54;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 100;
      width: 70%;
      color: #fff;
    }
    .play-icon {
      margin-left: 6%;
    }
    .stop-icon {
      margin-left: 6%;
    }
  }  